body {
  background: rgb(26, 26, 26);
  background-image: url('../../imgs/login_background.webp');
  background-size: cover;
  margin: auto;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100px;
}

.trybetunes {
  background-color: rgb(36, 141, 145);
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: rgb(2, 189, 2);
  padding: 30px;
  text-align: center;
}

.titleSpan {
  color: white;
}

.loginBox {
  background-color: rgb(51, 51, 51);
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin: auto;
  max-width: 20%;
}

h2 {
  color: white;
  padding-top: 5%;
  text-align: center;
}

input {
  font-size: 18px;
  margin: auto;
  max-width: 50%;
  padding: 10px;
  text-align: center;
}

.loginBtn {
  height: 25px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
  width: 70px;
}

.menu {
  display: flex;
  font-size: 18px;
  font-weight: 900;
  gap: 120px;
  justify-content: center;
  margin-top: -85px;

}

.username {
  font-size: 18px;
  font-weight: 700;
  left: 44%;
  text-align: center;
  top: 20%;
}

a {
  color: white;
  text-decoration: none;
}

.searchContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.musicSearch {
  margin-top: 80px;
}

.searchButton {
  height: 30px;
  width: 100px;
}

/* .albumCard {
} */
